.cart{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}
.items-list{
    display: flex;
    flex-direction: column;
}
.items-list .items-list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.items-list .items-list-header p{
    color: rgba(0, 0, 0, 0.568);
}
.eachOrderedFood {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
}
.eachOrderedFood img{
    width: 50px;
    height: 50px;
}
.removeItemFromCart{
    border: none;
    font-size: 35px;
    background-color: white;
    color: rgb(255, 0, 0);
    cursor: pointer;
    padding: 5px 10px;
}
.removeItemFromCart:hover {
    background-color: rgb(253, 49, 49);
    color: white;
}
.total{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px  ;
}
.total h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.total hr{
    border: 1px solid rgba(0, 0, 0, 0.192);
    width: 30%;
    margin: 0px;
}
.total .priceOfGoods{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}
.total .priceOfGoods p{
    color: rgba(0, 0, 0, 0.527);
}
.total .deliveryFee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;

}
.total .deliveryFee p{
    color: rgba(0, 0, 0, 0.527);
    
}
.total .totalPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}
.total .totalPrice p{
    color: rgba(0, 0, 0, 0.527);
}
.total button{
    width: 100px;
    background-color: rgb(250, 92, 92);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}
.total button:active,.total button:hover{
    background-color: red;
}